body {
    font-family: 'Roboto Mono', monospace;
    color: #3f7391;
    background-color: #f1e9dd;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    margin: 0 0;
}

button {
    font-family: inherit;
    border: none;
    cursor:pointer;
}

.main {
    grid-column: 2/3;
    /* display: flex; */
    
}

.notes {
    grid-row: 1/2;
    background-color: #f9f4ec;
}

ul {
    list-style: square;
}

h1, h2 {
    text-align: center;
}


.text_container {
    display: flex;
}


.text_box {
    background-color: #f9f4ec;
    border: 2px solid lightblue;
    display: inline-block;
    height: 20vh;
    width: 100%; 
    margin: 15px;
    padding: 10px 10px;

}


#button {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    color: white;
}

.top {
    display: grid;
}

.new_note, .save {
    background-color: #6194a0;
}

.dark_theme {
    background-color: #6e6987;
}

.cancel {
    background-color: #cf827b; 
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > div {
    margin: 10px;
}

.bottom_buttons {
    display: flex;
    justify-content: flex-end;
}

.top_buttons {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    right: 33%;
}

@media screen and (max-width: 500px){
    .text_box {
        height: 35vh;
    }

    .notes ul {
        padding-left: 25px;
    }
}


@media screen and (max-width: 400px){
    body {
        font-size: small;
    }
}