body {
    font-family: 'Roboto Mono', monospace;
    color: #00478A;
    background-color: #f1e9dd;
    display: grid;
    height: 100vh;
    margin: 0 0;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
}

button {
    font-family: inherit;
    border: none;
    cursor:pointer;

    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    color: white;
}

li {
    cursor: pointer;
}

li:hover {
    color: red;
}

.notes {
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: #f9f4ec;
}

.main {
    grid-row: 1/2;
    grid-column: 2/3;
}

header {
    grid-column: 2/3;
}

ul {
    list-style: square;
    list-style-position: inside;
    padding-left: 20px;
}

h1, h2 {
    text-align: center;
}


.text_container {
    display: flex;
}


.text_box {
    background-color: #f9f4ec;
    border: 2px solid lightblue;
    display: inline-block;
    height: 20vh;
    width: 100%; 
    margin: 15px;
    padding: 10px 10px;

}

.top {
    display: grid;
}

.new_note, .save {
    background-color: #00478A;
}

.dark_theme {
    background-color: #46406D;
}

.cancel {
    background-color: #78322B; 
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > div {
    margin: 10px;
}

.bottom_buttons {
    display: flex;
    justify-content: flex-end;
}

.top_buttons {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    grid-row: 3/4;
    grid-column: 2/3;
}

/* for js */
.hidden {
    display: none;
}

/* link with JS */
.dark_mode {
    background-color: rgb(31, 31, 31);
    color: white;
}

.dark_mode2 {
    background-color: #4e4b4b;
    color: white;
}


@media screen and (max-width: 670px){
    body {
        grid-template-rows: 1fr 0.5fr 3fr;
        grid-template-columns: 1fr;
    }

    .notes {
        grid-row: 1/2;
        grid-column: 1/2;
    }   

    header {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .main {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .footer_container {
        grid-row: 4/5;
    }

    footer {
        right: auto;
        grid-row: none;
        grid-column: 1/2;
    }

    ul {
        text-align: center;
        padding-left: 0px;
    }

}